<div class="flex-center min-h-screen">
  <mat-card class="mat-elevation-z8 w-full max-w-md p-4">
    <mat-card-header class="text-center">
      <mat-card-title class="text-3xl font-bold">APT-Erfolg</mat-card-title>
      <mat-card-subtitle class="mt-2">Bitte melden Sie sich an, um fortzufahren.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="mt-6">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col space-y-4">
        <mat-form-field appearance="outline">
          <mat-label>Benutzername</mat-label>
          <input matInput formControlName="username" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Passwort</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>

        <div *ngIf="errorMessage" class="p-3 text-sm text-red-700 bg-red-100 rounded-md">
          {{ errorMessage }}
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions class="mt-4">
      <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="onSubmit()" class="w-full">
        Anmelden
      </button>
    </mat-card-actions>
  </mat-card>
</div>
