<mat-sidenav-container class="sidenav-container">

  <!-- Sidenav (Mobile Menu) -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" (click)="drawer.close()">Dashboard</a>
      <a mat-list-item routerLink="/learn" (click)="drawer.close()">Lernen</a>
      <a mat-list-item routerLink="/boss-fight" (click)="drawer.close()">Boss Arena</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <!-- Mobile Menu Button -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>APT-Erfolg</span>

      <span class="flex-auto"></span>

      <!-- Desktop Navigation -->
      <nav *ngIf="(isHandset$ | async) === false">
        <a mat-button routerLink="/dashboard">Dashboard</a>
        <a mat-button routerLink="/learn">Lernen</a>
        <a mat-button routerLink="/boss-fight">Boss Arena</a>
      </nav>

      <button mat-icon-button (click)="logout()" aria-label="Logout">
        <mat-icon>exit_to_app</mat-icon>
      </button>

    </mat-toolbar>

    <!-- This is where the routed content will be displayed -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
